* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body {
  background: #000000;
  padding: 20pt;
}
#quiz-date {
  color: #ffdd00;
  font-size: 16pt;
}
#title {
  color: #dddddd;
  font-size: 40pt;
}
#question-what-links {
  margin-left: 50pt;
  color: #666666;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}
#question-what-links i {
  vertical-align: middle !important;
}
#question-number {
  color: #dddddd;
  font-size: 24pt;
  float: left;
}
#question {
  margin-left: 50pt;
  color: #dddddd;
  font-size: 24pt;
}
#answer {
  margin-left: 50pt;
  color: #ffdd00;
  font-size: 24pt;
}
#nav-left {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
}
#nav-right {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  right: 0;
}
