// ---------- Variables ----------

// Colours
@colour-background: #000000;
@colour-foreground: #dddddd;
@colour-foreground-highlight: #ffdd00;
@colour-foreground-dimmed: #666666;

@colour-what-links-text: @colour-foreground-dimmed;
@colour-question-text: @colour-foreground;
@colour-title-text: @colour-foreground;
@colour-date-text: @colour-foreground-highlight;
@colour-answer-text: @colour-foreground-highlight;

// Dimensions
@dimen-outer-padding: 20pt;
@dimen-outer-padding-narrow: 10pt;
@dimen-indent: 45pt;
@dimen-title-top-margin: 30pt;
@font-size-date: 16pt;
@font-size-title: 40pt;
@font-size-question: 24pt;
@font-size-what-links: 12pt;

// Fonts
@font-family: 'Open Sans', sans-serif;
@font-weight-light: 300;
@font-weight-heavy: 700;

// ---------- Mixins ----------

.nav-panel() {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
}

.indented() {
  margin-left: @dimen-indent;
}

.non-indented() {
  margin-left: 0;
}

// ---------- Rules ----------

* {
  font-family: @font-family;
  font-weight: @font-weight-light;
}

body {
  background: @colour-background;
  padding: @dimen-outer-padding;
}

#page-title {
  margin-top: @dimen-title-top-margin;
  div {
    text-align: center;
  }
}

#quiz-date {
  color: @colour-foreground-highlight;
  font-size: @font-size-date;
}

#title {
  color: @colour-foreground;
  font-size: @font-size-title;
}

#question-what-links {
  .indented;
  color: @colour-background;
  font-size: @font-size-what-links;
  font-weight: @font-weight-heavy;
  text-transform: uppercase;
  i {
    vertical-align: middle !important;
  }
  &.visible {
    color: @colour-foreground-dimmed;
  }
}

#question-number {
  color: @colour-foreground;
  font-size: @font-size-question;
  float: left;
}

#question {
  .indented;
  color: @colour-foreground;
  font-size: @font-size-question;
}

#answer {
  .indented;
  color: @colour-foreground-highlight;
  font-size: @font-size-question;
}

#nav-left {
  .nav-panel;
  left: 0;
}
#nav-right {
  .nav-panel;
  right: 0;
}

@media(max-width: 700px) {
  body {
    padding: @dimen-outer-padding-narrow;
  }
  #question-what-links {
    .non-indented;
  }
  #question-number {
    float: none;
    display: inline;
    &::after {
      content: " "
    }
  }
  #question {
    .non-indented;
    display: inline;
  }
  #answer {
    .non-indented;
  }
}