* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body {
  background: #000000;
  padding: 20pt;
}
#page-title {
  margin-top: 30pt;
}
#page-title div {
  text-align: center;
}
#quiz-date {
  color: #ffdd00;
  font-size: 16pt;
}
#title {
  color: #dddddd;
  font-size: 40pt;
}
#question-what-links {
  margin-left: 45pt;
  color: #000000;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}
#question-what-links i {
  vertical-align: middle !important;
}
#question-what-links.visible {
  color: #666666;
}
#question-number {
  color: #dddddd;
  font-size: 24pt;
  float: left;
}
#question {
  margin-left: 45pt;
  color: #dddddd;
  font-size: 24pt;
}
#answer {
  margin-left: 45pt;
  color: #ffdd00;
  font-size: 24pt;
}
#nav-left {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
}
#nav-right {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  right: 0;
}
@media (max-width: 700px) {
  body {
    padding: 10pt;
  }
  #question-what-links {
    margin-left: 0;
  }
  #question-number {
    float: none;
    display: inline;
  }
  #question-number::after {
    content: " ";
  }
  #question {
    margin-left: 0;
    display: inline;
  }
  #answer {
    margin-left: 0;
  }
}
